/* Based on Sublime Text's monokai constTheme; from CodeMirror constThemes */
:root {
    --const_brackets: #f8f8f2;
    --const_cursor: #f8f8f0;
    --const_bg: #272822;
    --const_selection: #464646;
    --const_linenumber: #d0d0d0;
    --const_comment: #918e7b;
    --const_literal: #ae81ff;
    --const_attribute: #97b747;
    --const_def: #bc9262;
    --const_tag: #bc6283;
    --const_type: #5998a6;
    --const_property: #a6e22e;
    --const_keyword: #f92672;
    --const_builtin: #66d9ef;
    --const_string: #e6db74;
    --const_variable: #9effff;
    --const_function: #fd971f;
    --const_activebg: #373831;
    --const_fontsize: 10pt;
    --const_font: monospace;
  }
  .cm-s-constTheme.CodeMirror{
    font-family: var(--const_font);
    font-size: var(--const_fontsize);
  }
  
  .cm-s-constTheme.CodeMirror { background: var(--const_bg); color: var(--const_brackets); }
  .cm-s-constTheme div.CodeMirror-selected { background: var(--const_selection); }
  .cm-s-constTheme .CodeMirror-line::selection, .cm-s-constTheme .CodeMirror-line > span::selection, .cm-s-constTheme .CodeMirror-line > span > span::selection { background: var(--const_selection); }
  .cm-s-constTheme .CodeMirror-line::-moz-selection, .cm-s-constTheme .CodeMirror-line > span::-moz-selection, .cm-s-constTheme .CodeMirror-line > span > span::-moz-selection { background: var(--const_selection); }
  .cm-s-constTheme .CodeMirror-gutters { background: var(--const_bg); border-right: 0px; }
  .cm-s-constTheme .CodeMirror-guttermarker { color: var(--const_brackets); }
  .cm-s-constTheme .CodeMirror-guttermarker-subtle { color: var(--const_linenumber); }
  .cm-s-constTheme .CodeMirror-linenumber { color: var(--const_linenumber); }
  .cm-s-constTheme .CodeMirror-cursor { border-left: 1px solid var(--const_cursor); }
  
  .cm-s-constTheme span.cm-comment { color: var(--const_comment); }
  .cm-s-constTheme span.cm-atom { color: var(--const_literal); }
  .cm-s-constTheme span.cm-number { color: var(--const_literal); }
  
  .cm-s-constTheme span.cm-comment.cm-attribute { color: var(--const_attribute); }
  .cm-s-constTheme span.cm-comment.cm-def { color: var(--const_def); }
  .cm-s-constTheme span.cm-comment.cm-tag { color: var(--const_tag); }
  .cm-s-constTheme span.cm-comment.cm-type { color: var(--const_type); }
  
  .cm-s-constTheme span.cm-property, .cm-s-constTheme span.cm-attribute { color: var(--const_property); }
  .cm-s-constTheme span.cm-keyword { color: var(--const_keyword); }
  .cm-s-constTheme span.cm-builtin { color: var(--const_builtin); }
  .cm-s-constTheme span.cm-string { color: var(--const_string); }
  
  .cm-s-constTheme span.cm-variable { color: var(--const_variable); }
  .cm-s-constTheme span.cm-variable-2 { color: var(--const_variable); }
  .cm-s-constTheme span.cm-variable-3, .cm-s-constTheme span.cm-type { color: var(--const_builtin); }
  .cm-s-constTheme span.cm-def { color: var(--const_function); }
  .cm-s-constTheme span.cm-bracket { color: var(--const_brackets); }
  .cm-s-constTheme span.cm-tag { color: var(--const_keyword); }
  .cm-s-constTheme span.cm-header { color: var(--const_literal); }
  .cm-s-constTheme span.cm-link { color: var(--const_literal); }
  .cm-s-constTheme span.cm-error { background: var(--const_keyword); color: var(--const_cursor); }
  
  .cm-s-constTheme .CodeMirror-activeline-background { background: var(--const_activebg); }
  .cm-s-constTheme .CodeMirror-matchingbracket {
    background: var(--selection);
    color: var(--cursor) !important;
  }